*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*Style - Gradiente Linear (Tons pastéis)*/
/*Style - Fonte definida (Poppins)*/
body{
    background-image: linear-gradient(120deg,#f1d1ac, #fda085);
    color: white;
    /*font-family: 'Poppins', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    font-family: 'Tangerine', cursive;
    min-height: 100vh;
}

/*Style - Tamanho fonte do HEADER/CABEÇALHO*/
header{
    font-size: 3rem;

}

/*Style - Posicionamento do HEADER/CABEÇALHO + FORM*/
header,form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items:center ;
}

/*Style - Caixa de INPUT/ENTRADA, retirada a borda entre o BUTTON e a INPUT.*/
form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

/*Style - Botão PLUS*/
form button{
    color: #fda085;
    background: white;
    cursor: pointer;
    transition: all 0.8s ease;
}
form button:hover{
    background:#fda085;
    color: white;
}

/*Style - Posicionamento dos ITENS ADD*/
.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
    min-width: 30%;
    list-style: none;
}

/*Style - Organizando o posicionamento dentro do TODO*/
.todo{
    margin: 0;
    background: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease ;
}

.todo li{
    flex: 1;
}
.trash-btn, 
.complete-btn{
    background: #fda085;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
.complete-btn{
    background: #B6D9B4;
}
.todo-item{
    padding: 0rem 0.5rem;
}

.fa-trash 
.fa-check{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}
.fall{
    transform:  translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

/*Style - MENUS DE SELEÇÃO*/
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select{
    color: #fda085;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}
.select::after{
    content: "\25BC";
    position: absolute;
    background: #fda085;
    top: 0;
    right : 0;
    padding: 1rem;
}

.select:hover::after{
    background: white;
    color: #fda085;
    transition: all 0.3s ease;
}